#score_div{
	text-align: center;
    justify-content: center;
    padding: 10px;
	height:30px;
	width:20%;
	margin-left:40%;
	background-color:rgb(255, 255, 255);
    border: 2px solid black;
}
#gme-ar {
    margin-left: 17%;
    background-color: rgba(255, 251, 201, 0.5); /* Adjust the alpha value (0.5 for 50% transparency) */
    /* border: 2px solid black; */
  
}


h1{
	text-align: center;
    color: rgb(36, 60, 60);
	/* background-color:rgb(216, 178, 178); */
    width: 500px;
  margin-left: 35%;
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    background-image: url(./bg.jpg);
    background-size: contain; /* or 'cover' based on your preference */
    background-repeat: repeat;
    background-attachment: fixed;
}

