#score_div {
    text-align: center;
    justify-content: center;
    padding: 10px;
    height: 30px;
    width: 20%;
    margin-left: 40%;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
}

#gme-ar {
    margin-left: 17%;
    background-color: rgba(255, 255, 255, 0.5); 
}

h1 {
    text-align: center;
    color: rgb(36, 60, 60);
    width: 500px;
    margin-left: 35%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-image: url(./bg.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
    
}
#restart-btn {
    position: absolute;
    top: calc(8% - 40px); 
    left: 75%; 
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(33, 28, 28);
    color: rgb(255, 255, 255);
    border: 2px solid rgb(193, 245, 246);
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

#restart-btn:hover {
    background-color: rgb(114, 114, 114);
    color: rgb(255, 255, 255);
}


